@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes coinShimmer {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: 14px;
  }
}

@keyframes shine {
  from {
    transform: translateY(0);
    opacity: 0.3;
  }
  to {
    transform: translateY(-10%);
    opacity: 0.6;
  }
}

@keyframes coinRise {
  from {
    background-position-y: 0;
  }
  to {
    background-position-y: 20px;
  }
}

